<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs')%>
<body>
    <% const name = 'Rinaldi'%>
    <%- include('../partials/nav.ejs')%>

    <div class="blogs content">
        <%= name %>
        <h2>All Users</h2>
        <% if(users.length > 0) { %>
            <% users.forEach(blog => { %>
                <a class="single" href="/users/<%= blog.id %>">
                    <h3 class="title"><%= blog.username %></h3>
                    <p class="snippet"><%= blog.email %></p>
                    <p class="snippet"><%= blog.password %></p>
                </a>
                <hr>
            <% })%>
        <% } else { %>
            <h3>Data not exists</h3>
        <% } %>
    </div>
    <%- include('../partials/footer.ejs')%>
</body>
</html>